.aboutContainer {
  
  .details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 100px;
    .info {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      width: 605px;
      div {
        h3 {
          font-size: 0.8rem;
          font-weight: 600;
          color: var(--grey);
          margin-bottom: 0.5rem;
        }
        p {
          text-align: justify;
          a {
            color: var(--text);
            text-decoration-line: underline;
            font-weight: 300;
          }
        }
      }

      @media screen and (max-width: 949px) {
        order: 2;
      }
      @media screen and (max-width: 675px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 949px) {
      flex-direction: column;
      row-gap: 65px;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 1.5rem;

      width: 344px;
      height: 443px;
      color: #0d0d0d;

      border-radius: 10px;
      border: 1px solid #323232;
      flex-shrink: 0;
      svg {
        width: 256.186px;
        color: #323232;
        height: 305.683px;
        flex-shrink: 0;
      }

      @media screen and (max-width: 949px) {
        order: 1;
        width: 250px;
        height: 322px;

        svg {
          width: 186.182px;
          height: 222.384px;
        }
      }
    }
  }
}
