.projectCard {
  position: relative;
  width: 280px;
  height: 440px;
  background-color: var(--light-grey);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  border-radius: 20px;
  box-shadow: var(--card);
  transition: 0.5s ease-in-out;

  &:hover {
    box-shadow: 2px 2px 12px rgba(139, 139, 139, 0.452);

  }

  .image {
    flex-shrink: 0;
    height: 230px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;

    img {
      background: black;
      object-fit: cover;
      border-radius: 20px;
      border: 1px solid black;
    }

    .filterType {
      position: absolute;
      bottom: 0;
      background: var(--grey);
      color: white;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      width: max-content;
      padding: 10px 10px 0;
    }

    &:hover {
      img{
        opacity: 0;
      }
      .about {
        opacity: 1;
      }
    }

    &:hover ~ * {
      opacity: 0;
    }
  }

  .about {
    position: absolute;
    background-color: rgba(7, 7, 7, 0.863);

    height: 100%;
    width: 100%;
    top: 0;
    color: #ffffff;

    border-radius: 20px;
    padding: 10px;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
  }

  p {
    color: var(--text);
    line-height: 1.5;
    font-size: 0.85rem;
    transition: opacity 0.5s ease-in-out;

  }
  .link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    align-self: flex-end;
    margin-top: auto;
    gap: 1rem;
    transition: opacity 0.5s ease-in-out;

    a {
      color: var(--text);
      transition: transform 0.5s ease-in-out;
      svg {
        font-size: 1.57rem;
      }

      &:hover {
        transform: scale(0.9) !important;
      }
    }
  }
}
