.contactForm {
  flex-direction: column;
  background: var(--elemnt-background);
  width: 100%;
  padding: 2rem;
  row-gap: 2rem;
  border-radius: 10px;
  box-shadow: var(--card);

  .formHeading {
    align-items: center;
    justify-content: center;
    position: relative;
    .traffic {
      gap: 8px;

      position: absolute;
      left: 0;
      span {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: #fff;
        display: block;
      }
      :nth-child(1) {
        background: #f63636;
      }
      :nth-child(2) {
        background: #f6c136;
      }
      :nth-child(3) {
        background: #53cc28;
      }
    }
    p {
      color: var(--text);
      font-size: 1rem;
    }
  }
  form {
    width: 100%;
    flex-direction: column;
    row-gap: 1.5rem;
    font-size: 1rem;
    label {
      align-items: center;
      gap: 1rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid var(--grey);

      input {
        background: transparent;
        border: none;
        outline: none;
        font-size: 1rem;
        flex: 1;
        color: var(--text);
      }
    }

    .textareaContainer {
      padding: 1.5rem;
      background: var(--deep-dark-bg);
      border-radius: 10px;
      border: 1px solid var(--grey);
      .textarea {
        width: 100%;
        resize: none;
        min-height: 275px;
        max-height: 450px;
        overflow-y: scroll;
        outline: 0;
        border: 0;
        position: relative;
        
        font-size: 1rem;
        line-height: 1.5;
        font-family: inherit;
        background: transparent;
        color: var(--text) ;
        transition: height 0.3s ease-in-out;

        @media screen and (max-width: 500px) {
          min-height: 150px;
          max-height: 250px;
        }
      }
    }
  }
  @media screen and (max-width: 450px) {
    padding: 1rem;

    .formHeading {
      justify-content: flex-end;
    }
  }
}
.socials {
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  a {
    font-size: 1.75rem;
    transition: transform 0.5s;
    &:hover{
      transform: scale(0.9);
    }
  }
  @media screen and (max-width: 450px) {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

.sendBtn{
  background-color:#e20b1a ;
  color: #fff;
}

