.header {
  position: fixed;
  z-index: 1000;

  top: 20px;
  width: calc(100% - 2rem);
  max-width: var(--max-width);

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;

  background: #d2d2e915;
  border-radius: 10px;
  box-shadow: 2px 0 4px rgba(46, 46, 46, 0.342);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .brand {
    // position: relative;
    width: max-content;

    justify-content: space-between;
    align-items: center;

    padding: 0.6rem 1.5rem;

    .menuIcon {
      display: none;
      justify-content: center;
      align-items: center;

      svg {
        height: 25px;
        width: 25px;
      }
    }
    @media screen and (max-width: 950px) {
      width: 100%;

      &.menuOpen {
        background: transparent;
        box-shadow: 2px 0 4px rgba(46, 46, 46, 0.342);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
      }

      .menuIcon {
        display: flex;
      }
    }
  }

  .navContainer {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    width: calc(100% - 10rem);
    max-width: var(--max-width);

    .navItems {
      align-items: center;
      justify-content: space-between;
      flex: 1;
      column-gap: 2rem;

      .navLinks {
        column-gap: 2rem;

        .navLink {
          text-transform: capitalize;
          transition: all 0.5s;

          svg {
            display: none;
          }

          &:hover {
            color: var(--white-secondary);
            transform: scale(0.95);
          }
        }
      }

      .socials {
        column-gap: 1.4rem;
        align-items: center;

        .socialLink:hover {
          color: var(--white-secondary);
        }

        svg {
          width: 30px;
          height: 30px;
        }

        hr {
          height: 25px;
          border-color: var(--grey);
          margin-inline: 1rem;
        }

        button {
          transition: transform 0.5s ease-in-out;
        }

        button:hover {
          transform: scale(0.85);
        }
      }
    }

    @media screen and (max-width: 950px) {
      position: fixed;
      top: 0;
      z-index: -1;

      min-height: 100vh;
      height: 100%;
      width: 100%;
      justify-content: space-between;

      opacity: 0;
      visibility: hidden;
      transform: translateY(30px);
      transition: all 0.5s ease-in-out;
      background: var(--black-secondary);
      overflow-y: scroll;

      .navItems {
        position: fixed;
        top: 70px;

        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: 4rem;

        width: 100%;
        height: max-content;

        padding: 10px 2rem 2rem;

        .navLinks {
          flex-direction: column;
          row-gap: 2rem;
          width: 100%;
          .navLink {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            svg {
              display: inline-flex;
              height: 25px;
              width: 25px;
            }
          }
        }

        .socials {
          width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 950px) {
    width: 100%;
    top: 0;
    border-radius: unset;
  }
}
