:root {
  --max-width: 1512px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --black-secondary: #1c1c22;
  --black-primary: #ffffff;

  --gradient: linear-gradient(45deg, #b16cea, #ff5e69, #ff8a56, #ffa84b);

  --text: #030303;

  --white-secondary: #ffffff;
  --white-primary: #020202;

  --grey: #202020;
  --light-grey: rgba(255, 255, 255, 0.952);

  --elemnt-background: #ffffff;
  --deep-dark-bg: #ffffff;
  --background: #ffffff;

  // border-radius: 598.25px;
  --dark-background: rgba(233, 63, 63, 0.43);
  --bg-filter: blur(118.08055114746094px);

  --card: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body.dark {
  --background: #000000;
  --text: #f0f2f5;

  --grey: grey;
  --light-grey: rgba(128, 128, 128, 0.47);

  --elemnt-background: #161616;
  --deep-dark-bg: #0d0d0d;

  --white-primary: #f0f2f5;
  --black-primary: #161513;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9rem;
  overflow-x: scroll;

  &::before {
    content: '';
    width: 598.25px;
    height: 263.343px;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    background: var(--dark-background);
    filter: var(--bg-filter);
    border-radius: 598.25px;
  }
}

::-webkit-scrollbar-track,
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 0;
  transition: background 0.5s ease-in;
}

body:has(.show) {
  overflow: hidden;

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    width: 0;
  }
}

h2 {
  font-size: 3rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

p {
  color: var(--text);
  line-height: 1.7;
}

button {
  all: unset;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #2323232f;
}

.flex {
  display: flex;
}

.title-text {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
  padding: 6rem 2rem 0;

  @media screen and (min-width: 1512px) {
    // padding-inline: 0;
  }

  @media screen and (max-width: 450px) {
    padding-inline: 1rem;
  }
}

.app_flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.component {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 6rem;
  z-index: 2;

  .titleHeader {
    h2 {
      font-size: 3.5rem;
      align-self: stretch;
    }
    p {
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: -0.456px;
    }
  }
}

.navLogo {
  font-weight: 800;
  line-height: 1.5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  filter: drop-shadow(0 0 0.3rem rgba(230, 207, 207, 0.849));

  .bracket {
    font-size: 1.57rem;
    font-weight: 400;
  }

  .initial {
    font-size: 1.7rem;
  }
}

.wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  row-gap: 2rem;

  .copyright {
    width: 100%;
    padding: 4rem 0 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
      text-transform: uppercase;
      color: var(--black-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0) !important;
}
