.footer {
  border-top: 1px solid var(--grey);
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 4rem;

  .footerContainer {
    min-height: unset !important;
    justify-content: space-between;

    .linksContainer {
      column-gap: 4rem;
    }

    .brand,
    .links,
    .elsewhere {
      flex-direction: column;
      row-gap: 1.2rem;
    }

    .links p,
    .elsewhere p {
      font-weight: 800;
      color: var(--white-primary);
    }

    @media screen and (max-width: 750px) {
      flex-direction: column;
      row-gap: 3rem;

      .brand {
        order: 2;
        .copyright {
          font-size: 0.85rem;
        }
      }

      .linksContainer {
        column-gap: 5rem;
        @media screen and (max-width: 450px) {
          flex-direction: column;
          row-gap: 3rem;
        }
      }
    }
  }
}
